.idea/
.vscode
**/__pycache__/
.terraform/
.terraform.lock.hcl
services/models
services/vector-storage
secrets
.env
IaC/Terraform/Azure/vars/
IaC/Terraform/AWS/vars/


*coverage.sh
*coverage.bat
IaC/Terraform/vars/


.coverage
htmlcov/
.pytest_cache/

*models_map.json