### This code is property of the GGAO ###


genai-sdk-services==0.5.8
tiktoken==0.4.0
pydantic==2.7
elasticsearch==8.13.2

llama-index-embeddings-azure-openai==0.2.5
llama-index-embeddings-bedrock==0.3.1
llama-index-vector-stores-elasticsearch==0.3.3
llama-index==0.11.23
llama-index-embeddings-huggingface==0.3.1
llama-index-retrievers-bm25==0.4.0

Flask==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
Werkzeug==3.0.4