### This code is property of the GGAO ###


genai-sdk-services==0.5.18
tiktoken==0.4.0
pydantic==2.8
elasticsearch==8.13.2

llama-index==0.12.37
llama-index-core==0.12.37
llama-index-retrievers-bm25==0.5.2
llama-index-embeddings-azure-openai==0.3.5
llama-index-embeddings-bedrock==0.5.0
llama-index-embeddings-huggingface==0.5.3
llama-index-embeddings-google-genai==0.1.0
llama-index-vector-stores-azureaisearch==0.3.7

Flask==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
Werkzeug==3.0.4

azure-search-documents==11.5.2