### This code is property of the GGAO ###


genai-sdk-services==0.3.5
Werkzeug==3.0.4
flask==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
requests==2.32.3
flask-restx==1.3.0
Jinja2==3.1.4
python-magic-bin==0.4.14
tiktoken==0.7
pytest==8.3.3
langdetect==1.0.9
transformers==4.40.1
pydantic==2.9.2