### This code is property of the GGAO ###


MarkupSafe>=1.1.1
itsdangerous==2.0.1 # Flask version problem
google-api-core[grpc]<2.0.0dev,>=1.6.0
googleapis-common-protos==1.52.0
google-auth==1.26.0
flask==1.1.2
Jinja2<3.1.0
requests==2.22.0
rapidfuzz==1.1.1
jsonschema==3.0.2
flask-restx==0.1.1
Werkzeug==0.16.1
importlib_metadata<2.0.0,>=1.7.0
spaczz==0.4.2
textdistance==4.2.1
python-magic==0.4.27
natsort==8.4.0
langdetect==1.0.7