### This code is property of the GGAO ###


MarkupSafe>=1.1.1
itsdangerous==2.0.1 # Flask version problem
google-api-core[grpc]<2.0.0dev,>=1.6.0
googleapis-common-protos==1.52.0
google-auth==1.26.0
flask==1.1.2
gunicorn==22.0.0
Jinja2<3.1.0
requests==2.31.0
rapidfuzz==2.0.15
jsonschema==3.0.2
flask-restx==0.1.1
Werkzeug==0.16.1
importlib_metadata<2.0.0,>=1.7.0
spaczz==0.6.0
textdistance==4.2.1
python-magic==0.4.27
natsort==8.4.0
langdetect==1.0.7
elasticsearch==8.13.2
pydantic==1.10.8
numpy==1.19.5
tiktoken==0.4.0
mmh3==4.1.0
llama-index-embeddings-azure-openai==0.1.9
llama-index-embeddings-bedrock==0.2.0
llama-index-vector-stores-elasticsearch==0.2.0
llama-index==0.10.41
llama-index-embeddings-huggingface==0.2.1