[run]
omit =
        *__init__*
        *test*
        config-3.py
        config.py
        c:\users\idegrego\documents\techhub\techhubglobaltoolkit\services\common
        *common*
        C:\Users\idegrego\Documents\techhub\TechHubGlobalToolkit\services\common\*
[report]

exclude_lines =
    if __name__ == .__main__.: