### This code is property of the GGAO ###

boto3==1.35.32
pandas==2.2.3
numpy==2.0.2
scikit-learn==1.5.2
scipy==1.14.1
protobuf==5.26.1
chardet==5.2.0
grpcio==1.66.2
grpcio-status==1.66.2
opencv-python==4.10.0.84
imageio==2.35.1
pytesseract==0.3.13
numba==0.60.0
pdfminer.six==20240706
wand==0.6.13
python-magic==0.4.27
pyathena==3.9.0
redis==5.1.0
pyarrow==17.0.0
pymysql==1.1.1
psycopg2==2.9.9
botocore==1.35.32
python-docx==1.1.2
python-pptx==1.0.2
openpyxl==3.1.5
xlrd==2.0.1
lxml==5.3.0
azure-servicebus==7.12.3
azure-storage-queue==12.12.0
azure-storage-blob==12.23.1
azure-storage-file-share==12.18.0
azure-ai-documentintelligence==1.0.0b4

