### This code is property of the GGAO ###


boto3==1.28.59
pandas==1.3.5 #>=0.24.2,<=1.4.1
numpy==1.19.5
scikit-learn==0.22.1 #>=0.21.2,<0.24.0
scipy==1.10.1

google-cloud-vision==0.38.0
google-auth==1.26.0 #>=1.24.0,<2.0.0dev
protobuf==3.17.3 #<3.18.0,>=3.12.0
chardet==3.0.4 #<3.1.0,>=3.0.2
google-api-core==1.32.0 #>=1.22.4,<1.33
google-cloud-core==2.3.2
googleapis-common-protos==1.52.0
grpcio==1.49.1 #>=1.33.2

opencv-python==4.5.5.64 #>=4.1.0.25
imageio==2.6.1
pytesseract==0.3.8

numba==0.55.2 #>=0.44.1

pdfminer.six==20181108
wand==0.5.5

python-magic==0.4.27

pyathena==2.23.0
redis==4.5.1
pyarrow==9.0.0
pymysql==1.0.2
psycopg2==2.9.9
botocore==1.31.85
python-docx==0.8.11
python-pptx==0.6.21
openpyxl== 3.1.2
xlrd==2.0.1
lxml==4.9.2 # for python-docx & python-pptxs

azure-servicebus==7.11.4
azure-storage-queue==12.7.2
azure-storage-blob==12.18.2
azure-storage-file-share==12.14.1
azure-ai-documentintelligence==1.0.0b3